<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7a2d0639a4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="../styles.css">
    <title>To Do List</title>
</head>
<body>
<section class="panel heading">
    <h1><a href="/"><i class="fa-solid fa-house"></a></i>To do list:</h1>
</section>
    <form action="/todo/addListItem" method="POST" class="panel-li">
        <input type="text" name="listItem" placeholder="add item to list">
        <input type="submit" value="Add to List">
    </form>
    <ul>
    <%for(let i = 0; i < list.length; i++){%>
        <% if(list[i].completed % 2 == 0){ %>
            <section class="panel-li">
        <li><span class="listItem"><%= list[i].todo %></span><i class="fa-solid fa-dumpster"></i></li>
    </section>
        <%} else { %>
            <section class="panel-li">
        <li><span class="listItem completed"><%= list[i].todo %></span><i class="fa-solid fa-dumpster"></i></li>
        </section>
        <% }} %>
    </ul>
    
</body>
<script src="../main.js" defer></script>
</html>